#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: all 300ms ease;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.4));
  transform: scale(1.05);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
